.fifteenPuzzleRenderer {
  user-select: none;
  -webkit-user-select: none;
  width: calc(var(--piece-size) * var(--columns));
  height: calc(var(--piece-size) * var(--rows));

  --piece-size: 80px;
  --margin: 0.05;

  > .piece {
    display: flex;
    position: absolute;
    width: calc(var(--piece-size) * (1 - var(--margin)));
    height: calc(var(--piece-size) * (1 - var(--margin)));
    margin: calc(var(--piece-size) * var(--margin));
    transform: translate( calc(var(--piece-size) * var(--x)), calc(var(--piece-size) * var(--y)) );
    border-radius: calc(var(--piece-size) / 16);
    background-color: #111;
    font-weight: 900;
    filter: invert(0%);
    transition: .1s transform var(--easeOutCirc)
              , .2s filter var(--easeOutCirc);
    &.hidden { opacity: 0; }
    &.correct { filter: invert(100%); }
    > .content {
      margin: auto;
      font-size: calc(var(--piece-size) * 9 / 20);
    }
    z-index: 0;
  }

  > .tapListeners {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(var(--columns), 1fr);
    > .listener {
      z-index: 1;
    }
  }
}

