.fifteenPuzzleRenderer {
  user-select: none;
  -webkit-user-select: none;
  width: calc(80px * var(--columns));
  height: calc(80px * var(--rows));

  --width: 80px;
  --height: 80px;
  --margin: 0.05;

  > .piece {
    display: flex;
    position: absolute;
    width: calc(var(--width) * (1 - var(--margin)));
    height: calc(var(--height) * (1 - var(--margin)));
    margin: calc(var(--height) * var(--margin) / 2) calc(var(--width) * var(--margin) / 2);
    transform: translate( calc(var(--width) * var(--x)), calc(var(--height) * var(--y)) );
    border-radius: 5px;
    background-color: #111;
    font-weight: 900;
    filter: invert(0%);
    transition: .1s transform var(--easeOutCirc)
              , .2s filter var(--easeOutCirc);
    &.hidden { opacity: 0; }
    &.correct { filter: invert(100%); }
    > .content {
      margin: auto;
      font-size: 28pt;
    }
    z-index: 0;
  }

  > .tapListeners {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(var(--columns), 1fr);
    > .listener {
      z-index: 1;
    }
  }
}
