.fifteenPuzzleRenderer {
  user-select: none;
  -webkit-user-select: none;
  width: calc(80px * var(--columns));
  height: calc(80px * var(--rows));

  > .piece {
    --width: 80px;
    --height: 80px;

    display: flex;
    position: absolute;
    width: 76px;
    height: 76px;
    margin: 2px;
    transform: translate( calc(var(--width) * var(--x)), calc(var(--height) * var(--y)) );
    border-radius: 5px;
    background-color: #111;
    font-weight: 900;
    filter: invert(0%);
    transition: .1s transform var(--easeOutCirc)
              , .2s filter var(--easeOutCirc);
    &.zero { opacity: 0; }
    &.correct { filter: invert(100%); }
    > .number {
      margin: auto;
      font-size: 28pt;
    }
  }
}
