@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

:global {
  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #222;
    color: #ccc;
    font-family: 'Roboto', sans-serif;
    > #app {
      width: 100%;
      height: 100%;
    }
  }
  
  :root {
    --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
  }
}
