@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  > #app {
    width: 100%;
    height: 100%;
  }
  overflow: hidden;
}

:root {
  --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
}
